/******* MAIN - STYLESHEET  *******/
@import url('https: //fonts.google.com/specimen/DM+Serif+Display');
@font-face  {
  font-family: Karla;
  src: url('https: //fonts.google.com/specimen/Karla');
}

:root {
  --primary-color-1:  hsl(256, 26%,20%);   /*** Dark Violet ***/
  --primary-color-2: hsl(216,30%,68%);    /** Grayish Blue **/
  --neutral-color-1: hsl(270, 9%, 17%);    /** Very Dark Violet **/
  --neutral-color-2: hsl(273, 4%, 51%);    /** Dark Grayish Violet **/
  --neutral-color-3: hsl(0, 0%, 98%);     /** Very Light Gray **/
  --font-family-1: "DM Serif Display", serif;  /** DM Serif Display Headings **/
  --font-family-2: "Karla", sans-serif;       /** Karla **/
  --font-weight-heading: 400;  /** DM Serif Display **/
  --font-body: 400, 700;  /** DM Serif Display **/
  --font-size: 16px; /** Body-copy **/
  --mobile:375px; /** Mobile**/
  --desktop:1440px; /** Desktop **/
}

*{
  margin: 0;
  padding: 0;
}

top-nav {
  display: flex;
  justify-content: space-around;
 }
